<div class="col-md-6">
  <h2 class="text-center">Configuration</h2>
  <form>
      
         <div class="form-group ">
      <label for="url">Url Address:</label>
      <input type="url" formControlName="url"  name="url" class="form-control" id="url">
    </div>

    <div class="form-group ">
      <label for="loginUsernam">Login UserName:</label>
      <input formControlName="loginUsernam" name="loginUsername" class="form-control" id="loginUsername">
    </div>
    <div class="form-group ">
      <label for="loginPassword">Login Password:</label>
      <input formControlName="loginPassword" name="loginPassword" class="form-control" id="loginPassword">
    </div>
    <div class="form-group ">
      <label for="browser">Browser:</label>
      <input formControlName="browser" name="browser" class="form-control" id="browser">
    </div>

   
    <div class="form-group ">
      <label for="universityurl">University Url:</label>
      <input formControlName="universityurl"  name="universityurl" class="form-control" id="universityurl">
    </div>
    <div class="form-group">
      <label for="universityurladminusername">University Url Admin UserName:</label>
      <input formControlName="universityurladminusername" name="universityurladminusername" class="form-control" id="universityurladminusername">
    </div>
    <div class="form-group ">
      <label for="universityurladminuserpassword">University Url Admin UserPassword:</label>
      <input formControlName="universityurladminuserpassword"  name="universityurladminuserpassword" class="form-control" id="universityurladminuserpassword">
    </div>
    <div class="form-group ">
      <label for="aisurl">AIS Url:</label>
      <input formControlName="aisurl" name="aisurl" class="form-control" id="aisurl">
    </div>
    <div class="form-group ">
      <label for="aisadminuser">AIS Admin User:</label>
      <input formControlName="aisadminuser"  name="aisadminuser" class="form-control" id="aisadminuser">
    </div>
    <div class="form-group ">
      <label for="aisadminpassword">AIS Admin Password:</label>
      <input formControlName="aisadminpassword"  name="aisadminpassword" class="form-control" id="aisadminpassword">
    </div>
    <div class="form-group ">
      <label for="screenshotlevel">Screenshot Level:</label>
      <input formControlName="screenshotlevel"  name="screenshotlevel" class="form-control" id="screenshotlevel">
    </div>
    <div class="form-group ">
      <label for="noofattemptstofindwebelements"> No Of Attempts To Find Web Elements:</label>
      <input formControlName="noofattemptstofindwebelements"  name="noofattemptstofindwebelements" class="form-control" id="noofattemptstofindwebelements">
    </div>
    <div class="form-group ">
      <label for="commontimeout">Common Timeout:</label>
      <input formControlName="commontimeout"  name="commontimeout" class="form-control" id="commontimeout">
    </div>
    <div class="form-group ">
      <label for="webdriverwaittimeout">Web Driver Wait Timeout:</label>
      <input formControlName="webdriverwaittimeout"  name="webdriverwaittimeout" class="form-control" id="webdriverwaittimeout">
    </div>
    <div class="form-group ">
      AIS Admin User:<input formControlName="implicitwaittimeout"  name="implicitwaittimeout" class="form-control" id="implicitwaittimeout">
      
    </div>
    <div>
      <table>
        <tr><td>Enter tname</td><td><input formControlName="tname">
             <label *ngIf="topicsForm.get('tname').invalid && processValidation" [ngClass] = "'error'"> tname is required. </label>
         </td></tr>
         </table>
    </div>
    </form>
</div>

