<div style="font-size:25px;font-family:'Century Gothic';padding-left:10%;color: #ffa480">
  
    Manage Identity
</div>

<div ngbDropdown class="dropdown show" style="padding-left:10%">
  <a ngbDropdownToggle class="btn btn-secondary  dropdown-toggle removecaret"  id="dropdownMenuLink"  aria-haspopup="true" aria-expanded="false" style="background-color:   #161515 ;color: #f7f7f7"><mat-icon  [inline]="true" style="font-size:14px;color: #8093ff">note_add</mat-icon>
    AddNew </a>
    <a ngbDropdownToggle class="btn btn-secondary  dropdown-toggle removecaret"  href="configuration" id="dropdownMenuLink"  aria-haspopup="true" aria-expanded="false" style="background-color:  #161515"><mat-icon  [inline]="true" style="font-size: 14px;color: #8bff80">build</mat-icon>
      Configuration </a>
      
</div>
